@charset "utf-8";
@import url('reset.css');
ul{list-style: none;}
h1{text-align: center; font-size: 18px; color: skyblue;}
fieldset{width: 500px; border: 5px solid #eee; margin: 20px auto; padding: 30px; box-sizing: border-box; border-radius: 15px;} 
legend{display: none;}
form > ul >li{height: 40px; border-bottom: 1px solid #ddd; line-height: 40px;}
.w{width: 120px; display: block; float: left;}
input{padding: 3px; border: 1px solid #ccc;}
#submit{border: none; background: skyblue; color: white; padding: 10px 20px; border-radius: 5px;}
span{display: inline-block; margin-left: 20px;}
li:last-child{padding-top: 30px; border: none; text-align: center;}
strong{font-weight: normal;}