@charset ="euc-kr";

/* 
	NanumSquareRound 
	³ª´®½ºÄù¾î¶ó¿îµå 
	L 300 
	R 400
	B 700
	EB 800
	font-family: 'NanumSquareRound',sans-serif;  
*/
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), /* computer */
    url("../font/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("../font/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), /* computer */
    url("../font/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
    url("../font/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"), /* computer */
    url("../font/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("../font/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"), /* computer */
    url("../font/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("../font/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* 
	NanumSquare
	³ª´®½ºÄù¾î
	B 700
	EB 800
	font-family: 'NanumSquareRound',sans-serif;  
*/

@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url("../font/NanumSquareB.eot");
 src: url("../font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url("../font/NanumSquareB.woff) format('woff'),
      url("../font/NanumSquareB.ttf) format('truetype'");
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url("../font/NanumSquareEB.eot");
 src: url("../font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url("../font/NanumSquareEB.woff) format('woff'),
      url("../font/NanumSquareEB.ttf) format('truetype'");
}
